<p>
    Here you can manage your inventory. You have things you buy <em>(inventory)</em> and batches of inventory which you have actually bought <em>(supply)</em> - e.g. you have a key ring which you plan to buy then you buy 100 key rings. First you have the plan to buy the key ring then you buy the actual key ring.
</p>
<hr>
<div class="columns">
    <div class="column">
        <app-current-inventory
            (inventorySelectedEvent)="onSelected($event)"
        >
        </app-current-inventory>
    </div>
    <div class="column">
        <app-inventory-form [item]="item"></app-inventory-form>
    </div>
</div>
