<div class="columns">
  <div class="column">
    <h2 class="title">Current Supply</h2>
  </div>
</div>
<div class="columns">
  <div class="column label">
    Inventory
  </div>
  <div class="column label">
    Cost
  </div>
  <div class="column label">
    Info
  </div>
</div>
<div *ngFor="let supply of currentSupply" class="columns">
  <div class="column">
    {{ inventoryService.getInventoryById(supply.inventoryId).name }}
  </div>
  <div class="column">
    {{ supply.cost }}
  </div>
  <div class="column">
    {{ supply.info }}
  </div>
</div>
