<form [formGroup]="designForm">
  <div class="field">
    <label class="label">What are you designing?</label>
    <div class="control">
      <input class="input" type="text" placeholder="Description" formControlName="description">
    </div>
  </div>
  <div class="field">
    <label class="label">What does it consist of?</label>
    <div class="columns">
      <div class="column">
        <div class="select">
          <select formControlName="inventory">
            <option [ngValue]="null" disabled>Choose your inventory</option>
            <option *ngFor="let item of availableInventory" [ngValue]="item.id">{{ item.name }}</option>
          </select>
        </div>
      </div>
      <div class="column">
        <div class="field is-grouped">
          <div class="control"><button (click)="onClickAddInventory()" class="button is-primary">Add</button></div>
          <div class="control"><button (click)="onSave()" [disabled]="!designForm.valid || formAddedInventoryControls.length === 0" class="button is-info">Save</button></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="formAddedInventoryControls.controls.length !== 0" class="field" formArrayName="addedInventory">
    <div class="columns">
      <div class="column"><label class="label">Inventory</label></div>
      <div class="column"><label class="label">Quantity</label></div>
      <div class="column"><label class="label">Remove</label></div>
    </div>
    <div *ngFor="let addedInventoryItem of formAddedInventoryControls.controls; let i = index" class="columns">
      <div class="column">
        <div>{{ getInventoryWithId(addedInventoryItem.get('id')!.value).name }}</div>
        <div>Unit: {{ getInventoryWithId(addedInventoryItem.get('id')!.value).unit }}</div>
      </div>
      <div formGroupName="{{ i }}" class="column">
        <input type="hidden" formControlName="id" [value]="addedInventoryItem.get('id')">
        <div class="control">
          <input class="input" type="text" [placeholder]="getInventoryWithId(addedInventoryItem.get('id')!.value).unit" formControlName="quantity">
        </div>
      </div>
      <div class="column"><button class="button is-danger" (click)="removeInventoryAt(i)">X</button></div>
    </div>
  </div>
</form>
